<!DOCTYPE html>
<html ng-app="armExplorer">

<head>
    <base href="/manage/" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-sanitize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/rxjs/2.2.27/rx.lite.compat.js"></script>
    <script src="Content/Scripts/abn_tree_directive.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
    <script src="Content/Scripts/rx.angular.js"></script>
    <script src="ng/manage.js"></script>

    <title>ARMExplorer</title>

    <!-- Bootstrap Core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="Content/Styles/abn_tree.css" rel="stylesheet" />
    <link href="Content/Styles/sb-admin-2.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="Content/Styles/app.css?v=3" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="wrapper" ng-controller="treeBodyController">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/manage" ng-click="clearEnvironment()">Azure Resource Explorer (beta)</a>
                <select ng-model="selectedTenant" ng-options="tenant.name for tenant in tenants" style="position: absolute; top: 15px" ng-change="tenantSelect()"></select>
            </div>
        </nav>
        <div id="sidebar" class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-ex1-collapse navbar-collapse collapse">
                <abn-tree tree-data="resources" tree-control="treeControl" on-select="selectResourceHandler(branch, event)" on-expand="expandResourceHandler(branch, row, event)" expand-level="0"></abn-tree>
            </div>
        </div>
        <div id="content">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ treeControl.get_selected_branch().label }}</h1>
                </div>
                <span class="loading-spinner" ng-show="loading || invoking">
                    <i class="fa fa-spinner fa-spin" title="Please wait" style="margin-top: 10px"></i>
                </span>
                <span id="success-marker" class="loading-spinner" style="display: none">
                    <i class="fa fa-check" title="success" style="margin-top: 10px"></i>
                </span>
                <span id="failure-marker" class="loading-spinner" style="display: none">
                    <i class="fa fa-exclamation-triangle" title="error" style="margin-top: 10px"></i>
                </span>
            </div>
            <button id="show-doc-btn" class="btn btn-primary" ng-click="showDocs()" style="position: relative; display: none; float: right;">
                Show Documentation
            </button>
            <tabset>
                <tab id="data-tab" select="enterDataTab()">
                    <tab-heading>
                        <i class="fa fa-database"></i> Data (GET, PUT)
                    </tab-heading>
                    <div ng-show="selectedResource && selectedResource.url">
                        <button ng-repeat="httpMethod in selectedResource.httpMethods" class="btn btn-success" style="float: left; margin-right: 5px; margin-top: 3px" ng-click="handleClick(httpMethod)">{{httpMethod}}</button>
                        <pre>{{ selectedResource.url + "?api-version=" + apiVersion }}</pre>
                    </div>
                    <div id="json-editor" style="width: 100%; min-height: 100px; border: 1px solid #bcbcbc; border-radius: 4px 4px 0px"></div>
                    <h2 ng-show="errorResponse || putError">Error:</h2>
                    <pre ng-show="errorResponse" ng-bind-html="errorResponse" style="max-height: 400px"></pre>
                    <pre ng-show="putError" ng-bind-html="putError" style="max-height: 400px"></pre>
                </tab>
                <tab disabled="!(selectedResource && selectedResource.actionsAndVerbs && selectedResource.actionsAndVerbs.length > 0)">
                    <tab-heading>
                        <i class="fa fa-bolt"></i> Actions (POST, DELETE)
                    </tab-heading>
                    <table class="table table-no-border" style="margin: 20px">
                        <colgroup>
                            <col class="col-xs-1">
                            <col class="col-xs-7">
                        </colgroup>
                        <tbody>
                            <tr ng-repeat="action in selectedResource.actionsAndVerbs">
                                <td><button class="btn btn-lg" ng-class="action.name === 'Delete' ? 'btn-danger' : 'btn-primary'" style="float: left; margin-right: 10px; margin-top: -3px" ng-click="invokeAction(action.httpMethod, action.url)">{{ action.name }}</button></td>
                                <td><pre>{{ action.httpMethod }} {{ action.url + "?api-version=" + apiVersion }}</pre></td>
                            </tr>
                        </tbody>
                    </table>
                    <pre ng-show="actionResponse" ng-bind-html="actionResponse" style="max-height: 400px"></pre>
                </tab>
                <tab disabled="!creatable" select="enterCreateMode()" deselect="leaveCreateMode()">
                    <tab-heading>
                        <i class="fa fa-database"></i> Create
                    </tab-heading>
                    <button class="btn btn-info" style="float: left; margin-right: 5px; margin-top: 3px" ng-click="clearCreate()">
                        Reset
                    </button>
                    <button class="btn btn-success" style="float: left; margin-right: 5px; margin-top: 3px" ng-click="invokeCreate()">
                        PUT
                    </button>
                    <input type="text" style="float: left; margin-right: 5px; margin-top: 3px; height: 35px; width: 210px; padding-left: 5px; font-size: 25px" ng-model="createModel.createdResourceName" ng-show="createMode" placeholder="{Resource Name}">
                    <pre>{{ selectedResource.url + "/" + createModel.createdResourceName + "?api-version=" + apiVersion }}</pre>
                    <div id="json-create-editor" style="width: 100%; min-height: 100px; border: 1px solid #bcbcbc; border-radius: 4px 4px 0px"></div>
                    <h2 ng-show="errorResponse || createError">Error:</h2>
                    <pre ng-show="errorResponse" ng-bind-html="errorResponse" style="max-height: 400px"></pre>
                    <pre ng-show="createError" ng-bind-html="createError" style="max-height: 400px"></pre>
                </tab>
            </tabset>
        </div>

        <div id="doc">
            <div style="display: inline-block; width: 100%;">
                <button ng-click="hideDocs()" class="btn btn-primary">Hide Documentation</button>
                <table class="table table-hover table-bordered">
                    <thead>
                    <th>Property</th>
                    <th>Documentation</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="e in selectedResource.doc">
                            <th>{{ e.name }}</th>
                            <td>{{ e.doc }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="doc-resizer"
             resizer="vertical"
             resizer-width="4"
             resizer-left="#content"
             resizer-right="#doc"
             resizer-offset-element="#sidebar"
             resizer-max="100000">
        </div>

        <div id="sidebar-resizer"
             resizer="vertical"
             resizer-width="4"
             resizer-left="#sidebar"
             resizer-right="#content"
             resizer-max="100000">
        </div>

    </div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>

</html>
