<!DOCTYPE html>
<html ng-app="managePortal">

<head>
    <base href="/manage/" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-sanitize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/rxjs/2.2.27/rx.lite.compat.js"></script>
    <script src="Content/Scripts/abn_tree_directive.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
    <script src="Content/Scripts/rx.angular.js"></script>
    <script src="ng/test.js"></script>

    <title>ManagePortal - {{ viewName }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="Content/Styles/abn_tree.css" rel="stylesheet" />
    <link href="Content/Styles/sb-admin-2.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="Content/Styles/app.css?v=3" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="wrapper" ng-controller="bodyController">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" ng-click="clearEnvironment()">Azure Resource Management API Playground</a>
                <select ng-model="selectedTenant" ng-options="tenant.name for tenant in tenants" style="position: absolute; top: 15px" ng-change="tenantSelect()"></select>
            </div>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-ex1-collapse navbar-collapse collapse">
                    <abn-tree tree-data="resources" tree-control="treeControl" on-select="selectResourceHandler(branch)" on-expand="expandResourceHandler(branch, row, event)" expand-level="0"></abn-tree>
                </div>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="row" style="margin-bottom: -50px">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ treeControl.get_selected_branch().label }}</h1>
                </div>
                <span class="loading-spinner" ng-show="loading">
                    <i class="fa fa-spinner fa-spin" title="Please wait" style="margin-top: 10px"></i>
                </span>
            </div>
            <tabset>
                <tab id="data-tab">
                    <tab-heading>
                        <i class="fa fa-database"></i> Data (GET, PUT)
                    </tab-heading>
                    <pre ng-show="selectedResource.url">{{ selectedResource.httpMethod }} {{ selectedResource.url }}</pre>
                    <pre ng-bind-html="jsonHtml" style="max-height: 400px"></pre>
                    <div ng-show="show">
                        <div id="jsoneditor" style="width: 100%; min-height: 100px; border: 1px solid #bcbcbc; border-radius: 4px 4px 0px"></div>
                        <button class="btn btn-success" style="margin: 5px" ng-click="invokePut()">
                            Submit
                        </button>
                        <div class="invoking-spinner" ng-show="invoking">
                            <i class="fa fa-spinner fa-spin" title="Please wait" style="margin-top: 10px"></i>
                        </div>
                    </div>
                    <h2 ng-show="errorResponse || putError">Error:</h2>
                    <pre ng-show="errorResponse" ng-bind-html="errorResponse" style="max-height: 400px"></pre>
                    <pre ng-show="putError" ng-bind-html="putError" style="max-height: 400px"></pre>
                </tab>
                <tab>
                    <tab-heading>
                        <i class="fa fa-bolt"></i> Actions (POST, DELETE) {{ selectedResource.actionsAndVerbs ? selectedResource.actionsAndVerbs.length : 0 }}
                    </tab-heading>
                    <table class="table table-no-border" style="margin: 20px">
                        <colgroup>
                            <col class="col-xs-1">
                            <col class="col-xs-7">
                        </colgroup>
                        <tbody>
                            <tr ng-repeat="action in selectedResource.actionsAndVerbs">
                                <td><button class="btn btn-lg" ng-class="action.name === 'Delete' ? 'btn-danger' : 'btn-primary'" style="float: left; margin-right: 10px; margin-top: -3px" ng-click="invokeAction(action.httpMethod, action.url)">{{ action.name }}</button></td>
                                <td><pre>{{ action.httpMethod }} {{ action.url }}</pre></td>
                            </tr>
                        </tbody>
                    </table>
                    <pre ng-show="actionResponse" ng-bind-html="actionResponse" style="max-height: 400px"></pre>
                </tab>
            </tabset>
        </div>
    </div>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--<script src="ng/app.j"></script>-->
</body>

</html>
