.table-no-border>thead>tr>th, 
.table-no-border>tbody>tr>th, 
.table-no-border>tfoot>tr>th, 
.table-no-border>thead>tr>td, 
.table-no-border>tbody>tr>td, 
.table-no-border>tfoot>tr>td {
  border-top: none;
    padding: 3px;
}

.string {
  color: green; }

.number {
  color: darkorange; }

.boolean {
  color: blue; }

.null {
  color: magenta; }

.key {
  color: red; }

.json-link:link {
  color: #0000EE; }

.json-link:visited {
  color: #551A8B; }

.json-link {
  text-decoration: underline; }

.invoking-spinner {
  font-size: xx-large;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  position: absolute;
}

.loading-spinner {
font-size: xx-large;
display: inline-block;
float: left;
 }

.intro {
  text-align: center; }

.intro-message {
  background: none repeat scroll 0% 0% #F1FAEB;
  border-color: #B3DBA8 #B3DBA8 #AED7A5;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 1rem 1.25rem;
  text-align: left;
  margin: 1.5rem 0px;
  text-shadow: 0px 1px rgba(255, 255, 255, 0.3);
  border-width: 1px;
  border-style: solid;
  border-radius: 3px; }
  .intro-message li {
    margin: 0.4em; }

.page-header {
    padding-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

pre {
    /*word-break: normal;
    word-wrap: normal;*/
}

.sidebar {
    margin-top: 18px;
}

html[data-useragent*='MSIE 10.0'] .form-control {
    padding-left: 0;
    padding-right: 0;
}


/*========================================================================*/

#topnav {
    background-color: #333333;
    display: block;
    height: 35px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #DDD;
}

#sidebar {
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 0;
    width: 284px;
    overflow: auto;
    overflow-x: hidden;
}
#content {
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 286px /* 200 + 6*/;
    right: 0;
    overflow: auto;
    background-color: white;
    padding-left: 20px;
    padding: 40px 30px;
}
#top-content {
    position: absolute;
    top: 0;
    bottom: 136px; /* 130 + 6 */
    left: 0;
    right: 0;
    background-color: #e7e7e7;
    overflow: auto;
}
#bottom-content {
    position: absolute;
    height: 130px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    background-color: #777;
}

#sidebar-resizer {
    background-color: #b2b2b2;
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 284px;
    width: 4px;
    cursor: e-resize;
}
#content-resizer {
    position: absolute;
    height: 6px;
    bottom: 130px;
    left: 0;
    right: 0;
    background-color: #666;
    cursor: n-resize;
}

#sidebar-resizer:hover, #preview-resizer:hover {
    background-color: #AAA;
}

.confirm-box {
    -webkit-box-shadow: 10px 10px 45px -4px rgba(74,74,74,1);
    -moz-box-shadow: 10px 10px 45px -4px rgba(74,74,74,1);
    box-shadow: 10px 10px 45px -4px rgba(74,74,74,1);
    display: none;
    margin-left: 15px;
    position: absolute;
    left: 145px;
    top: -84px;
    z-index: 1001;
    background: #ffffff;
    border: 1px solid #7d7d7d;
}

.confirm-box:after, .confirm-box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.confirm-box:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 15px;
    margin-top: -15px;
}

.confirm-box:before {
    border-color: rgba(125, 125, 125, 0);
    border-right-color: #7d7d7d;
    border-width: 16px;
    margin-top: -16px;
}

.confirm-content {
    display: block;
    margin: 20px;
    text-align: center;
}

.dark-full-site-blocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #ffffff;
    background-color: rgba(0, 0, 0, 0.55);
}

.confirm-answer {
    width: 49%;
    margin: 0 auto;
}

.confirm-message {
    position: relative;
    margin: 8px;
}

.switch {
  position: relative;
  float: left;
  margin: 13px;
  height: 25px;
  width: 200px;
  background: #ccc;
}

.small-switch {
  position: relative;
  float: left;
  height: 25px;
  width: 100px;
  background: #ccc;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 98px;
  line-height: 25px;
  font-size: 11px;
  color: #f2f2f2;
  text-align: center;
  cursor: pointer;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: white;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 100px;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 98px;
  height: 21px;
  background: #428bca;
}

.navbar-header {
    height: 50px;
}

.navbar-brand {
    float: left;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

.explorer-editor {
    width: 100%;
    min-height: 100px;
    border: 1px solid #bcbcbc;
    border-radius: 4px 4px 0px;
    margin-bottom: 10px;
}

.action-editor {
    min-height: 50px;
}

#resource-search-list li:hover {
    background-color: yellowgreen;
    cursor: pointer;
}

.copy-button {
    margin-top: -11px;
    margin-right: 0;
    margin-bottom: -9px;
    margin-left: -11px;
    border: 0;
    color: #C82829;
}

#selected-resource-url {
    background-color: #f5f5f5;
}

.overlayCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100
}